<!DOCTYPE html>
<html ng-app="modone">
    
    <head >
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.js"></script>
        <script src="js/libs/appmodule.js"></script>
        
         <link rel="stylesheet" href="css/bootstrap.css">
        <title>Blueprints</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body ng-controller="plan_control">
        <select ng-model="nameps">
            <option  ng-repeat="o in collection" value="{{o}}">
            {{o}}
            </option>
        </select>
        <td>
            <button type="button" class="btn btn-success"  ng-click="loadData()">
                Load blueprints
            </button>
            <button type="button" class="btn btn-success"  ng-click="drawData()">
                Draw
            </button>
        </td>
        <canvas id="idcanvas" length="800" height="600" ng-click="drawData(nameps)">           
        </canvas>
        

                       
        
    </body>
</html>
